body {
    text-align: center;
}

#wrapper {
    background-color: #1d3557;
    height: 1200px;
}

#submitNewBook {
    margin: 20px 0;
}

#bookContainer {
    background-color: #a8dadc;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 150px;
}

.modal-body form {
    text-align: left;
}

.bookCard {
    padding-top: 20px;
    background-color: #457b9d;
    text-align: center;
    margin: 50px 25px 25px 50px;
}

.cardFooter {
    background-color: #f1faee;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.bookGraphic {
    height: 50%;
    width: 50%;
    margin-top: -35px;
    margin-bottom: 5px;
}

.title,
.author,
.pages,
.read {
    color: white;
}

.title {
    font-weight: 700;
    font-size: 32px;
    /* margin: 0;
    padding: 0; */
}

.pages,
.read {
    font-size: 20px;
}

.deleteBook,
.editBook {
    margin-top: 10px;
}

.deleteBook {
    margin-left: 15px;
    background-color: #e63946;
}

.editBook {
    margin-right: 15px;
}